In [136]:
import pandas as pd
import numpy as np
from __future__ import division

# Visualizing All the Historical Data

Let's first take a look at all the historical data we have. These are stats from the 1985 - 2015 NCAA basketball seasons.

In [72]:
# This one contains stats for every single regular season game played between 1985 and 2015. It mainly
# contains info on the score of the game, the IDs for each team, and where the game was played.
reg_season_compact_pd = pd.read_csv('RegularSeasonCompactResults.csv')
reg_season_compact_pd.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [183]:
# This one expands on the previous data frame by going into more in depth stats like 3 point field goals,
# free throws, steals, blocks, etc. 
reg_season_detailed_pd = pd.read_csv('RegularSeasonDetailedResults.csv')
reg_season_detailed_pd.columns

Index([u'Season', u'Daynum', u'Wteam', u'Wscore', u'Lteam', u'Lscore', u'Wloc',
       u'Numot', u'Wfgm', u'Wfga', u'Wfgm3', u'Wfga3', u'Wftm', u'Wfta',
       u'Wor', u'Wdr', u'Wast', u'Wto', u'Wstl', u'Wblk', u'Wpf', u'Lfgm',
       u'Lfga', u'Lfgm3', u'Lfga3', u'Lftm', u'Lfta', u'Lor', u'Ldr', u'Last',
       u'Lto', u'Lstl', u'Lblk', u'Lpf'],
      dtype='object')

In [14]:
# Don't think this data is honestly that important. Just contains the region areas for the tournament each 
# year. There isn't really a distinct "home field" advantage in the tourney because the games are supposed
# to be on neutral sites. 
seasons_pd = pd.read_csv('Seasons.csv')
seasons_pd.head()

   Season     Dayzero Regionw    Regionx    Regiony    Regionz
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast

In [24]:
teams_pd = pd.read_csv('Teams.csv')
teams_pd.head()

   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M

In [217]:
# Finding Kansas's Team_id cuz Frank Mason is too good
print teams_pd[teams_pd['Team_Name'] == 'Kansas']

     Team_Id Team_Name
141     1242    Kansas

In [30]:
# Jk, Lonzo Ball > Frank Mason
print teams_pd[teams_pd['Team_Name'] == 'UCLA']

     Team_Id Team_Name
316     1417      UCLA

In [36]:
# This one contains the stats for every single NCAA tournament game from 1985 to 2015
tourney_compact_pd = pd.read_csv('TourneyCompactResults.csv')
tourney_compact_pd.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0

In [35]:
# More deatiled tourney stats (except only stats from 2003 :( )
tourney_detailed_pd = pd.read_csv('TourneyDetailedResults.csv')
tourney_detailed_pd.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

In [37]:
# This one tells you what seed each team was for a given tournament year
tourney_seeds_pd = pd.read_csv('TourneySeeds.csv')
tourney_seeds_pd.head()

   Season Seed  Team
0    1985  W01  1207
1    1985  W02  1210
2    1985  W03  1228
3    1985  W04  1260
4    1985  W05  1374

In [197]:
# Seeing what seed Duke was in every tourney
duke_id = teams_pd[teams_pd['Team_Name'] == 'Duke'].values[0][0]
tourney_seeds_pd[tourney_seeds_pd['Team'] == duke_id]

      Season Seed  Team
34      1985  Y03  1181
64      1986  W01  1181
164     1987  Y05  1181
193     1988  W02  1181
257     1989  W02  1181
322     1990  W03  1181
417     1991  Y02  1181
448     1992  W01  1181
530     1993  X03  1181
593     1994  X02  1181
743     1996  Y08  1181
785     1997  X02  1181
880     1998  Z01  1181
896     1999  W01  1181
960     2000  W01  1181
1024    2001  W01  1181
1122    2002  Y01  1181
1205    2003  Z03  1181
1219    2004  W01  1181
1316    2005  Y01  1181
1349    2006  W01  1181
1467    2007  Z06  1181
1529    2008  Z02  1181
1545    2009  W02  1181
1625    2010  X01  1181
1692    2011  X01  1181
1777    2012  Y02  1181
1844    2013  Y02  1181
1913    2014  Y03  1181
1963    2015  X01  1181
2068    2016  Z04  1181

In [70]:
# Don't know how helpful this is tbh, because it just tells you what the seeds of the stronger
# and weaker seeds are (assuming that the favored team wins??), so its always 1 vs 16 and then 
# 1 vs 8 and 1 vs 4..
tourney_slots_pd = pd.read_csv('TourneySlots.csv')
tourney_slots_pd.head()

   Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

# Features

One of the most important parts of this competition is determining what features are the most important
to determining which team in a head to head matchup will win. Possible features???

* Number of regular season wins 
* Seed Number
* Any head to head matchup in the season?
* Number of top 25 wins in a season
* Number of top 25 games played in a season
* W-L record against common opponents
* Points per game scored
* Points per game allowed (Really important imo)
* 3 Pointers  made per game (Really important imo)
* 3 Pointers  allowed per game
* Turnovers per game
* Avg Steals/Blocks/Assists/Rebounds (How important are these stats tho??)
* Team's Conference (ACC, Big Ten, etc)
* Conference W-L record
* Conference Strength of Schedule
* Nonconference W-L record 
* Nonconference Strength of Schedule
* Regular Season Conference Champion?
* Conference Tournament Champion?
* Number of seniors on team (shows experience)
* Number of freshman on team (can they handle the big stage)
* Number of home wins
* Number of road wins

Given that we know the above information for Team X and Team Y, can we make a model that determines who has the 
better probability of winning?

# Model

Let's make this supervised trianing problem where our model with take in 2 d dimensional vectors, representing the two teams playing in the tournament. Each d dimensional vector will contain information about the team for that year. Below are the features we end up using. 

* Regular Season Wins 
* Points per game season average 
* Points per game allowed season average
* Whether or not in Power 5 conference (ACC, Big Ten, Big 12, SEC, Pac 12) - Binary label
* Number of 3's per game
* Number of 3's allowed per game
* Tournament Seed

In [149]:
listACCteams = ['North Carolina','Virginia','Florida St','Louisville','Notre Dame','Syracuse','Duke','Virginia Tech','Georgia Tech','Miami','Wake Forest','Clemson','NC State','Boston College','Pittsburgh']
listPac12teams = ['Arizona','Oregon','UCLA','California','USC','Utah','Washington St','Stanford','Arizona St','Colorado','Washington','Oregon St']
listSECteams = ['Kentucky','South Carolina','Florida','Arkansas','Alabama','Tennessee','Mississippi St','Georgia','Ole Miss','Vanderbilt','Auburn','Texas A&M','LSU','Missouri']
listBig10teams = ['Maryland','Wisconsin','Purdue','Northwestern','Michigan St','Indiana','Iowa','Michigan','Penn St','Nebraska','Minnesota','Illinois','Ohio St','Rutgers']
listBig12teams = ['Kansas','Baylor','West Virginia','Iowa St','TCU','Kansas St','Texas Tech','Oklahoma St','Texas','Oklahoma']

In [192]:
def checkPower5Conference(team_id):
    teamName = teams_pd.values[team_id-1101][1]
    if (teamName in listACCteams or teamName in listBig10teams or teamName in listBig12teams
       or teamName in listSECteams or teamName in listPac12teams):
        return 1
    else:
        return 0

In [240]:
def getSeasonData(team_id, year):
    # The data frame below holds stats for every single game in the given year
    year_data_pd = reg_season_detailed_pd[reg_season_detailed_pd['Season'] == year]
    # Finding number of points per game
    gamesWon = year_data_pd[year_data_pd.Wteam == team_id] 
    totalPointsScored = gamesWon['Wscore'].sum()
    gamesLost = year_data_pd[year_data_pd.Lteam == team_id] 
    totalGames = gamesWon.append(gamesLost)
    numGames = len(totalGames.index)
    totalPointsScored += gamesLost['Lscore'].sum()
    
    # Finding number of points per game allowed
    totalPointsAllowed = gamesWon['Lscore'].sum()
    totalPointsAllowed += gamesLost['Wscore'].sum()
    
    #Finding number of 3's made per game
    total3sMade = (gamesWon['Wfgm3'].sum())
    total3sMade += (gamesLost['Lfgm3'].sum())
    
    #Finding number of 3's allowed per game
    total3sAllowed = (gamesWon['Lfgm3'].sum())
    total3sAllowed += (gamesLost['Wfgm3'].sum())
    
    #Finding tournament seed for that year
    tourneyYear = tourney_seeds_pd[tourney_seeds_pd['Season'] == year]
    seed = tourneyYear[tourneyYear['Team'] == team_id]
    if (len(seed.index) != 0):
        seed = seed.values[0][1]
        tournamentSeed = int(seed[1:3])
    else:
        tournamentSeed = 25 #Not sure how to represent if a team didn't make the tourney
    
    # Finding number of wins and losses
    numWins = len(gamesWon.index)
    avgPointsScored = totalPointsScored/numGames
    avgPointsAllowed = totalPointsAllowed/numGames
    avg3sMade = total3sMade/numGames
    avg3sAllowed = total3sAllowed/numGames
    return [numWins, avgPointsScored, avgPointsAllowed, checkPower5Conference(team_id), avg3sMade, avg3sAllowed,
           tournamentSeed]

In [249]:
def conferenceWins(team_id, year):
    if ()
    year_data_pd = reg_season_detailed_pd[reg_season_detailed_pd['Season'] == year]
    gamesWon = year_data_pd[year_data_pd.Wteam == team_id] 
    gamesLost = year_data_pd[year_data_pd.Lteam == team_id] 
    totalGames = gamesWon.append(gamesLost)
    print totalGames

In [250]:
def compareTwoTeams(id_1, id_2, year):
    team_1 = getSeasonData(id_1, year)
    team_2 = getSeasonData(id_2, year)
    diff = [a - b for a, b in zip(team_1, team_2)]
    return diff

In [251]:
kentucky_id = teams_pd[teams_pd['Team_Name'] == 'Kentucky'].values[0][0]
duke_id = teams_pd[teams_pd['Team_Name'] == 'Duke'].values[0][0]
ucla_id = teams_pd[teams_pd['Team_Name'] == 'UCLA'].values[0][0]
kansas_id = teams_pd[teams_pd['Team_Name'] == 'Kansas'].values[0][0]
#compareTwoTeams(kentucky_id, ucla_id, 2012)
conferenceWins(kentucky_id, 2012)

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga  \
44626    2012      11   1246     108   1265      58    H      0    46    75
44834    2012      15   1246      75   1242      65    N      0    26    51
45010    2012      19   1246      85   1336      47    N      0    28    53
45070    2012      20   1246      62   1330      52    N      0    24    53
45237    2012      23   1246      88   1347      40    H      0    31    62
45367    2012      26   1246      87   1339      63    H      0    28    62
45583    2012      31   1246      81   1385      59    H      0    28    69
45675    2012      33   1246      73   1314      72    H      0    28    63
46118    2012      47   1246      87   1151      62    H      0    33    68
46264    2012      50   1246      82   1359      50    H      0    31    62
46375    2012      52   1246      87   1259      63    H      0    28    52
46489    2012      58   1246      86   1249      64    H      0    26    53
46666    2012      61   1246      69   1257      62    H      0    17    57
46777    2012      64   1246      73   1114      51    N      0    28    56
46975    2012      68   1246      79   1376      64    H      0    29    49
47134    2012      72   1246      68   1120      53    A      0    23    57
47296    2012      75   1246      65   1397      62    A      0    21    49
47439    2012      78   1246      86   1116      63    H      0    32    56
47623    2012      82   1246      77   1104      71    H      0    22    51
47763    2012      85   1246      57   1208      44    A      0    21    48
47951    2012      89   1246      74   1261      50    A      0    26    55
48089    2012      92   1246      69   1397      44    H      0    22    41
48282    2012      96   1246      86   1376      52    A      0    32    62
48420    2012      99   1246      78   1196      58    H      0    29    55
48606    2012     103   1246      69   1435      63    A      0    28    58
48936    2012     110   1246      77   1279      62    H      0    28    58
49064    2012     113   1246      73   1280      64    A      0    25    57
49266    2012     117   1246      83   1435      74    H      0    32    56
49477    2012     122   1246      79   1208      49    H      0    28    57
49647    2012     125   1246      74   1196      59    A      0    31    59
49781    2012     130   1246      60   1261      51    N      0    18    42
49812    2012     131   1246      74   1196      71    N      0    27    60
45923    2012      40   1231      73   1246      72    H      0    25    58
49835    2012     132   1435      71   1246      64    N      0    22    51

      ...   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
44626 ...      18    12    23   13   16    10   14     2     4   15
44834 ...      15    21    27   14   25     9   14    10     5   25
45010 ...      27     4    12   18   21     9   12     4     3   22
45070 ...      15    11    17   11   22     8   12     9     2   19
45237 ...      25     4     5   12   18     8   18     8     2   20
45367 ...      23     6     8   13   26    14   17     1     2   24
45583 ...      13    19    27   17   26     9   19     6     6   20
45675 ...      18    11    14   15   21    17   13     2     6   16
46118 ...      27    12    17   11   25    13   15     7     0   17
46264 ...      16     7    10    5   17    12   14     4     0   14
46375 ...      15     8    16   12   18    12    9     4     1   25
46489 ...      12    12    15   14   22     9   15    12     5   21
46666 ...      18    18    27   10   21     6   14    12     8   29
46777 ...      17     7    10   12   11     9    9    10     2   17
46975 ...      22     8    10   16   16    10   10     8     3   18
47134 ...      12    10    12   16   19    12   15     2     4   19
47296 ...      17    14    20    9   23    12   15     4     5   22
47439 ...      15    12    18    6   20     5   11     4     3   19
47623 ...       7    18    25   10   25    11   14     3     2   27
47763 ...      18     1     3    6   20     9    6     8     4   11
47951 ...       9     7    11   11   18    13    9     2     4   18
48089 ...      18     5     7   13   16     7   11     6     1   23
48282 ...      20     7    15   13   17    10    8     0     9   16
48420 ...      27     8    12   18   13     9    9     3     2   12
48606 ...      21     9    14   17   21    14   10     4     4   15
48936 ...       5     9    14    5   20     8   12     6     2   13
49064 ...      20    11    15    9   23    13   12     5     4   17
49266 ...      18    15    23   16   13     7    7     6     4   18
49477 ...      19     8    10    9   20     9    7     4     5    9
49647 ...      22    11    11    9   21    14    7     3     2   10
49781 ...      14     8    10   14   22    10    9    13     4   23
49812 ...      22     2     2    7   18    18    8     3     1   15
45923 ...       7    10    17   10   20     9   17    10     7   13
49835 ...      28    12    19   15   22    12    8     6     8   22

[34 rows x 34 columns]